-i https://pypi.org/simple
anyio==3.7.1; python_version >= '3.7'
argon2-cffi==21.3.0; python_version >= '3.6'
argon2-cffi-bindings==21.2.0; python_version >= '3.6'
attrs==23.1.0; python_version >= '3.7'
aws-sam-translator==1.71.0; python_version >= '3.7' and python_version != '4.0' and python_version <= '4.0'
aws-xray-sdk==2.12.0
babel==2.12.1; python_version >= '3.7'
backcall==0.2.0
beautifulsoup4==4.12.2; python_full_version >= '3.6.0'
black==23.3.0
bleach==6.0.0; python_version >= '3.7'
boto3==1.28.12; python_version >= '3.7'
botocore==1.31.12; python_version >= '3.7'
certifi==2023.7.22; python_version >= '3.6'
cffi==1.15.1
cfn-lint==0.79.3
charset-normalizer==3.2.0; python_full_version >= '3.7.0'
click==8.1.6; python_version >= '3.7'
coverage[toml]==7.2.7; python_version >= '3.7'
cryptography==41.0.2; python_version >= '3.7'
debugpy==1.6.7; python_version >= '3.7'
decorator==5.1.1; python_version >= '3.5'
defusedxml==0.7.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
delta-spark==2.1.0
docker==6.1.3
ecdsa==0.18.0
entrypoints==0.4; python_version >= '3.6'
exceptiongroup==1.1.2; python_version < '3.11'
fastjsonschema==2.18.0
flake8==5.0.4
flask==2.2.5
flask-cors==4.0.0
graphql-core==3.2.3
idna==3.4
importlib-metadata==4.2.0; python_version >= '3.6'
importlib-resources==5.12.0; python_version < '3.9'
iniconfig==2.0.0; python_version >= '3.7'
ipykernel==6.16.2; python_version >= '3.7'
ipython==7.34.0; python_version >= '3.7'
ipython-genutils==0.2.0
itsdangerous==2.1.2; python_version >= '3.7'
jedi==0.18.2; python_version >= '3.6'
jinja2==3.1.2; python_version >= '3.7'
jmespath==1.0.1; python_version >= '3.7'
jschema-to-python==1.2.3; python_version >= '2.7'
json5==0.9.14
jsondiff==2.0.0
jsonpatch==1.33; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
jsonpickle==3.0.1; python_version >= '3.7'
jsonpointer==2.4; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
jsonschema==4.17.3; python_version >= '3.7'
jsonschema-spec==0.1.4; python_full_version >= '3.7.0' and python_full_version < '4.0.0'
junit-xml==1.9
jupyter-client==7.4.9; python_version >= '3.7'
jupyter-core==4.12.0; python_version >= '3.7'
jupyter-server==1.24.0; python_version >= '3.7'
jupyterlab==3.5.3
jupyterlab-pygments==0.2.2; python_version >= '3.7'
jupyterlab-server==2.15.2; python_version >= '3.7'
lazy-object-proxy==1.9.0; python_version >= '3.7'
markupsafe==2.1.3; python_version >= '3.7'
matplotlib-inline==0.1.6; python_version >= '3.5'
mccabe==0.7.0; python_version >= '3.6'
mistune==3.0.1; python_version >= '3.7'
moto[server]==4.1.13
mpmath==1.3.0
mypy-extensions==1.0.0; python_version >= '3.5'
nbclassic==1.0.0; python_version >= '3.7'
nbclient==0.7.4; python_full_version >= '3.7.0'
nbconvert==7.6.0; python_version >= '3.7'
nbformat==5.8.0; python_version >= '3.7'
nest-asyncio==1.5.6; python_version >= '3.5'
networkx==2.6.3; python_version >= '3.7'
notebook==6.5.4; python_version >= '3.7'
notebook-shim==0.2.3; python_version >= '3.7'
openapi-schema-validator==0.4.4; python_full_version >= '3.7.0' and python_full_version < '4.0.0'
openapi-spec-validator==0.5.7
packaging==23.1; python_version >= '3.7'
pandocfilters==1.5.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
parso==0.8.3; python_version >= '3.6'
pathable==0.4.3; python_full_version >= '3.7.0' and python_full_version < '4.0.0'
pathspec==0.11.1; python_version >= '3.7'
pbr==5.11.1; python_version >= '2.6'
pexpect==4.8.0; sys_platform != 'win32'
pickleshare==0.7.5
pkgutil-resolve-name==1.3.10; python_version < '3.9'
platformdirs==3.9.1; python_version >= '3.7'
pluggy==1.2.0; python_version >= '3.7'
prometheus-client==0.17.1; python_version >= '3.6'
prompt-toolkit==3.0.39; python_full_version >= '3.7.0'
psutil==5.9.5; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
ptyprocess==0.7.0
py-partiql-parser==0.3.3
py4j==0.10.9.5
pyasn1==0.5.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pycodestyle==2.9.1; python_version >= '3.6'
pycparser==2.21
pydantic==1.10.12; python_version >= '3.7'
pyflakes==2.5.0; python_version >= '3.6'
pygments==2.15.1; python_version >= '3.7'
pyparsing==3.1.0
pyrsistent==0.19.3; python_version >= '3.7'
pytest==7.4.0
pytest-cov==4.1.0
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-jose[cryptography]==3.3.0
pytz==2023.3
pyyaml==6.0.1
pyzmq==25.1.0; python_version >= '3.6'
regex==2023.6.3; python_version >= '3.6'
requests==2.31.0; python_version >= '3.7'
responses==0.23.1; python_version >= '3.7'
rfc3339-validator==0.1.4; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
rsa==4.9; python_version >= '3.6' and python_version < '4'
s3transfer==0.6.1; python_version >= '3.7'
sarif-om==1.0.4; python_version >= '2.7'
send2trash==1.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
setuptools==68.0.0
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sniffio==1.3.0; python_version >= '3.7'
soupsieve==2.4.1; python_version >= '3.7'
sshpubkeys==3.3.1
sympy==1.10.1; python_version >= '3.7'
terminado==0.17.1; python_version >= '3.7'
tinycss2==1.2.1; python_version >= '3.7'
tomli==2.0.1; python_version < '3.11'
tornado==6.2; python_version >= '3.7'
traitlets==5.9.0; python_version >= '3.7'
typed-ast==1.5.5; python_version < '3.8' and implementation_name == 'cpython'
types-pyyaml==6.0.12.11
typing-extensions==4.7.1; python_version < '3.10'
urllib3==1.26.16
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.6.1; python_version >= '3.7'
werkzeug==2.2.3; python_version >= '3.7'
wrapt==1.15.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
xmltodict==0.13.0; python_version >= '3.4'
zipp==3.15.0; python_version >= '3.7'
